.editoreArticles{
    display: none;
    border: 2px solid rgb(25, 63, 235);
}
.toolbar{
    display: flex;
}
.font{
    border: 1px solid blue;
    display: flex;
    padding: 5px;
    display: block;
}
.align{
    border: 1px solid blue;
    display: flex;
    margin-top: 1px;
    padding: 5px;
    display: block;
}

.scp{
    border: 1px solid blue;
    display: flex;
    margin-top: 1px;
    padding: 1px;
    display:block;
}
#img{
    width: 60px;
    height: 25px;
    border: 2px solid red;
}

.toolbar ul{
    padding: 0px;
    margin: 0px;
    display: flex;
}
.toolbar ul li{
    list-style: none;
    cursor: pointer;
    margin: 2px;
    padding: 2px;
    border: 1px solid blue;
}
.selectca{
    display: flex;

}
.selectca select{
    padding: 6px;
    width: 100px;
    margin: 0px 5px 0px 5px;
}

.input{
    width: 100%;
    border: 1px solid rgb(94, 92, 92);
    margin: 10px auto;
    overflow: hidden;
}
.input .insertimage{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: blue;
    color: white;
    margin: 0px 5px 0px 5px;
}
.input > div{
    border: 1px solid orangered;
    width: 100%;
    overflow: hidden;
    
}
.flex{
    display: flex;
    gap: 10px;
}
.input input{
    width: 100%;
    padding: 7px;
    border: 0px;
    margin: 0px;
}

.input input:hover{
    outline: none;
}


.flexeditor{
    display: flex;
}

#editor, .preview {
    width: 100%;
    border: 1px solid #ccc;
    min-height: 80vh;
    padding: 10px;
    overflow-y: scroll;
}


.allbtn{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.allbtn button{
    width: 100%;
    margin: 2px 10px 2px 10px;
    padding: 6px;
    background-color: blue;
    color: #ccc;
}

