body {
    font-family: Arial, sans-serif;
    background-color: white;
    overflow-x: hidden;
  }
  a{
    text-decoration: none;
  }
  .container{
    width: 80%;
    margin: auto;
  }
  .menu{
    width: 100%;
    margin-bottom: 10px;
    background: rgb(0, 108, 250);
  }

  .menu ul{
    display: flex;
    align-items: center;
    margin: 1px;
    margin-left: 0px;
    padding: 1px;
    list-style: none;
  }
  .menu ul a{
    font-size: 12px;
  }

  .menu ul li{
    background: white;
    padding: 4px;
    margin: 1px auto;
    margin-left: 0px;
    margin-right: 10px;
    cursor: pointer;
    border: 1px solid blue;
    border-radius: 5px;
    -webkit-box-shadow: 0px 2px 7px -1px rgba(92,92,92,1);
-moz-box-shadow: 0px 2px 7px -1px rgba(92,92,92,1);
box-shadow: 0px 2px 7px -1px rgba(92,92,92,1);
  }

  .menu ul li:hover{
    background: black;
    color: white;
  }

  #paysList{
    background-color: gray;
    padding: 10px;
    grid-template-columns: repeat(10, 1fr);
  }

  .visiteur{
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    min-height: 100%;
  }
 
  .visiteur > div{
    height: max-content;
    background-color: #fff;
    border: 1px solid #0095f8;
    border-radius: 8px;
    overflow: hidden;
    padding: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);

  }
  .visiteur > div p{
    display: flex;
    align-items: center;
    margin: 2px;
    overflow: hidden;
    font-size: 12px;
  }
  .visiteur > div p:nth-child(1){
      overflow: hidden;
  }
  .countvisite{
    color: #3498db;
    margin-left: 10px;
  }
    /* Style for the dropdown container */
    .dropdown {
    position: relative;
    display: inline-block;
  }
  /* Style for the dropdown button */
  .dropdown button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /* Style for the dropdown content 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }*/

  /* Style for the dropdown options */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }

  /* Style for the dropdown options on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* Display the dropdown content when the button is hovered */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  